<h1 class="page-heading">Playgrounds</h1>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Exercises</div>
      <div class="panel-body">
        <ul>
          <% @playgrounds.each do |path, title| %>
              <li><%= link_to title, '/' + path.to_s %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Use Chrome DevTools</div>
      <div class="panel-body">
        <img class="img-responsive" src="/images/chrome-dev-tools.png"/>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Watch For Script Errors</div>
      <div class="panel-body">
        <img class="img-responsive" src="/images/script-errors-screenshot.png"/>
      </div>
    </div>
  </div>

</div>