<h1>Junior</h1>

<ul>
<li>Make your playground by editing /work/labs/jplayground/app/views/playgrounds/grounds/junior.html.erb</li>

<li>Edit your javascript here /work/labs/jplayground/app/assets/javascripts/grounds/junior.js</li>

<li>Edit your CSS here /work/labs/jplayground/app/assets/stylesheets/grounds/junior.css.scss</li>

</ul>
