<div class="page-header">
  <h1>Junior</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Instructions and Helpful Links</div>
  <div class="panel-body">
    <p>Follow the instructions in app/assets/javascripts/grounds/junior.js and complete all the assignments</p>
    <ul>
      <li>
        <a href="https://www.google.com/search?q=jquery+button+click+anonymous+function" target="_helpful">https://www.google.com/search?q=jquery+button+click+anonymous+function</a>
      </li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">A) Beginning Buttons!</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-4">
        <button id="junior_show_and_tell" class="btn btn-info">I'm Showing</button>
      </div>
      <div class="col-sm-4">
        <button id="junior_fix_green" class="btn btn-danger">Make it Green</button>
        <button id="junior_fix_green_content" class="btn btn-warning">Fix the Content</button>
      </div>
      <div class="col-sm-4">
        <div id="junior_green_thing" class="thing">I'm not Green</div>
      </div>
    </div>

  </div>
</div>

<div class="panel panel-default jplay_solution">
  <div class="panel-heading">Solution Rubric</div>
  <div class="panel-body">
    <img src="/images/junior-buttons-solution.png" class="img-responsive"/>
  </div>
</div>