<div class="page-header">
  <h1>Kindergarden</h1>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Instructions and Helpful Links</div>
  <div class="panel-body">
    <p>These exercises are solved by selecting elements by their class</p>

    <p>Follow the instructions in app/assets/javascripts/grounds/kindergarden.js and complete all the assignments</p>
    <ul>
      <li>
        <a href="https://www.google.com/search?q=jquery+select+by+class" target="_helpful">https://www.google.com/search?q=jquery+select+by+class</a>
      </li>
      <li>
        <a href="http://api.jquery.com/child-selector/" target="_helpful">http://api.jquery.com/child-selector/</a>
      </li>
      <li>
        <a href="http://api.jquery.com/first-selector/" target="_helpful">http://api.jquery.com/first-selector/</a>
      </li>
    </ul>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">A) CSS Style Selector</div>
  <div class="panel-body">
    <div id="kindergarden_thing_container" class="row">
      <div class="col-sm-4">
        <div id="kindergarden_red_thing" class="jplay_red thing">I'm Red</div>
      </div>
      <div class="col-sm-4">
        <div id="kindergarden_blue_thing" class="jplay_blue thing">I'm Blue</div>
      </div>
      <div class="col-sm-4">
        <div id="kindergarden_green_thing" class="jplay_green thing">I'm Green</div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">B) Buckets and Balls Style Selector</div>
  <div class="panel-body">
    <div id="kindergarden_ball_container_b">
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="red_bucket">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
      </div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">C) First Ball in the Red Bucket</div>
  <div class="panel-body">
    <div id="kindergarden_ball_container_c">
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="red_bucket">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
      </div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Solution</div>
  <div class="panel-body">
    <img src="/images/kindergarden-solution.png" class="img-responsive"/>
  </div>
</div>