<div class="page-header">
  <h1>Postgraduate</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Instructions and Helpful Links</div>
  <div class="panel-body">
    <p>Add Your Own Ideas! in app/assets/javascripts/grounds/postgraduate.js</p>

    <p>Check out the mouse events like .mouseover()</p>

    <p>Try to increment the value of the postgraduate_mouseover_count field every time the mouse moves over
      postgraduate_mouseover_div</p>

    <p>Explore some of the size and style methods</p>
    <ul>
      <li>
        <a href="http://api.jquery.com/category/events/mouse-events/" target="_helpful">http://api.jquery.com/category/events/mouse-events/</a>
      </li>
      <li>
        <a href="http://api.jquery.com/category/manipulation/style-properties/" target="_helpful">http://api.jquery.com/category/manipulation/style-properties/</a>
      </li>
      <li>
        <a href="https://www.google.com/search?q=javascript+parseInt">https://www.google.com/search?q=javascript+parseInt</a>
      </li>
      <li>
        <a href="https://www.google.com/search?q=javascript+isNaN">https://www.google.com/search?q=javascript+isNaN</a>
      </li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">1) Select Progress</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-6">
        <div id="postgraduate_mouseover_div" class="postgraduate_mousepad">
          Mouse Over and increment the mouseover count, then play around with your own ideas
        </div>
      </div>
      <div class="col-sm-3">
        <label for="postgraduate_mouseover_count">Mouseover Count:</label>
      </div>
      <div class="col-sm-3">
        <input type="text" value="0" id="postgraduate_mouseover_count" class="form-control"/>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-default jplay_solution">
  <div class="panel-heading">Solution Rubric</div>
  <div class="panel-body">
    Up to You!
  </div>
</div>