<div class="page-header">
  <h1>Pre-K</h1>
</div>

<p>These exercises are solved by selecting elements by their id</p>

<p>Follow the instructions in app/assets/javascripts/grounds/prek.js and complete all the assignments</p>


<div class="panel panel-default">
  <div class="panel-heading">A) Email Address Input Field</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <label for="email_address">Email Address:</label>
      </div>
      <div class="col-sm-6">
        <input type="text" id="email_address"/>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">B) CSS Styles</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-4">
        <div id="red_thing" class="jplay_red thing">I'm Red</div>
      </div>
      <div class="col-sm-4">
        <div id="blue_thing" class="jplay_blue thing">I'm Blue</div>
      </div>
      <div class="col-sm-4">
        <div id="green_thing" class="thing">I'm not Green</div>
      </div>
    </div>
  </div>
</div>

