<div class="page-header">
  <h1>Pre-K</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Instructions and Helpful Links</div>
  <div class="panel-body">
    <p>Follow the instructions in app/assets/javascripts/grounds/prek.js and complete all the assignments</p>
    <ul>
      <li>
        <a href="https://www.google.com/search?q=jquery+select+by+id" target="_helpful">https://www.google.com/search?q=jquery+select+by+id</a>
      </li>
      <li>
        <a href="https://www.google.com/search?q=jquery+change+attribute" target="_helpful">https://www.google.com/search?q=jquery+change+attribute</a>
      </li>
      <li>
        <a href="https://www.google.com/search?q=jquery+addClass" target="_helpful">https://www.google.com/search?q=jquery+addClass</a>
      </li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">A) Email Address Input Field</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2">
        <label for="prek_email_address">Email Address:</label>
      </div>
      <div class="col-sm-10">
        <input type="text" id="prek_email_address"/>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">B) CSS Styles</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-4">
        <div id="prek_red_thing" class="jplay_red thing">I'm Red</div>
      </div>
      <div class="col-sm-4">
        <div id="prek_blue_thing" class="jplay_blue thing">I'm Blue</div>
      </div>
      <div class="col-sm-4">
        <div id="prek_green_thing" class="thing">I'm not Green</div>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Solution</div>
  <div class="panel-body">
    <img src="/images/prek-solution.png" class="img-responsive"/>
  </div>
</div>