<h1>Pre-K</h1>

<ul>
<li>Make your playground by editing /work/labs/jplayground/app/views/playgrounds/grounds/prek.html.erb</li>

<li>Edit your javascript here /work/labs/jplayground/app/assets/javascripts/grounds/prek.js</li>

<li>Edit your CSS here /work/labs/jplayground/app/assets/stylesheets/grounds/prek.css.scss</li>

</ul>
