<div class="page-header">
  <h1>Senior</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Instructions and Helpful Links</div>
  <div class="panel-body">
    <p>Follow the instructions in app/assets/javascripts/grounds/senior.js and complete all the assignments</p>
    <ul>
      <li>
        <a href="https://www.google.com/search?q=jquery+button+click+anonymous+function" target="_helpful">https://www.google.com/search?q=jquery+button+click+anonymous+function</a>
      </li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">A) Toggle Visibility</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-4">
        <button id="senior_toggle" class="btn btn-info">Toggle</button>
      </div>
      <div class="col-sm-8">
        <img id="senior_visual_thing" class="img-responsive toggleable_image" src="http://i823.photobucket.com/albums/zz158/jgibson3825/smileyface.png"/>
      </div>
    </div>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Solution</div>
  <div class="panel-body">
    <img src="/images/senior-solution.png" class="img-responsive"/>
  </div>
</div>