/* CSS for playground: Pre-K */


.thing
{
  padding: 20px;
  text-align: center;
  font-size: 2em;
  color: #333333;
}


.jplay_red
{
  background-color: lightcoral;
}

.jplay_green
{
  background-color: lawngreen;
}

.jplay_blue
{
  background-color: deepskyblue;
}

.thing_of_interest
{
  border: 2px solid #333333;
}


